.component_data{
    /* width: 50%; */
    height: auto;
    background-color: #FFFEF0;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #bbaaa3;
    /* background-color: aqua; */
}

ul{
    list-style: none;
    padding: 0px;
}

.box {
    width: 100%;                
    height: 200px;
    border: 1px solid #000;      
    overflow-y: scroll;
    display: flex;
  }

  .food_list{
    margin: 0px auto;
    display: flex;
    width: max-content;
  }

@media screen and (min-width: 767px) {
    .component_data{
        width: 50%;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .component_data{
        margin: 1rem;
        margin-bottom: 0rem;
    }
}