.component_display{
    /* width: 50%; */
    height: min-content;
    margin: 2rem;
    padding: 1rem;
    background-color: #FFFEF0;
    box-shadow: 0rem 1px 8px 3px inset #bbaaa3;
    border-radius: 1rem;
}

.img_display{
    text-align: center;
    margin:auto;
}

@media screen and (min-width: 767px) {
    .component_display{
        width: 50%;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .component_display{
        display: flex;
        margin: 1rem;
    }
}